// .datatable{
//     height: 660px;
//     padding: 20px;

//     .cellWithImg{
//         display: flex;
//         align-items: center;

//         .cellImg{
//             width: 32px;
//             height: 32px;
//             border-radius: 50%;
//             object-fit: cover;
//             margin-right: 20px;

//         }
//     }
//     .cellWithStatus{
//         padding: 5px;
//         border-radius: 5px;


//         &.active{
//             background-color: rgba(0, 127, 0, 0.05);
//             color: rgba(0, 128, 0, 0.21);
//         }
//         &.pending{
//             background-color: rgba(225, 217, 0, 0.05);
//             color: rgba(218, 165, 32, 0.199);
//         }
//         &.passive{
//             background-color: rgba(225, 217, 0, 0.05);
//             color: rgba(255, 0, 0, 0.256);
//         }
//     }
//     .cellAction{
//         display: flex;
//         align-items: center;
//         gap: 15px;

//         .viewButton{
//             padding: 2px 5px;
//             border-radius: 5px;
//             color: darkblue;
//             border: 1px dotted rgba(0, 0, 139, 0.596);
//             cursor: pointer;
//         }
//         .deleteButton{
//             padding: 2px 5px;
//             border-radius: 5px;
//             color: crimson;
//             border: 1px dotted rgba(210, 35, 61, 0.461);
//             cursor: pointer;
//         }
//     }
// }



body {
    font-family: 'lato', sans-serif;
}

.container {
    padding-left: 10px;
    // max-width: 1000px;
    // margin-left: auto;
    // margin-right: auto;
    // padding-left: 10px;
    // padding-right: 10px;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;

    small {
        font-size: 0.5em;
    }
}

.responsive-table {
    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .table-header {
        background-color: #95A5A6;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .hotelcol1 {
        flex-basis: 15%;
    }

    .hotelcol2 {
        flex-basis: 10%;
    }

    .hotelcol3 {
        flex-basis: 20%;
    }

    .hotelcol4 {
        flex-basis: 30%;
    }
    .hotelcol5 {
        flex-basis: 15%;
    }
    .hotelcol6 {
        flex-basis: 10%;
    }

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }

        // .table-row {}

        li {
            display: block;
        }

        .col {

            flex-basis: 100%;

        }

        .col {
            display: flex;
            padding: 10px 0;

            &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}

.blockButton {
    padding: 2px 5px;
    
    border-radius: 5px;
    color: crimson;
    border: 1px dotted rgba(210, 35, 61, 0.461);
    cursor: pointer;
}

.unblockButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: rgb(20, 220, 80);
    border: 1px dotted rgba(35, 210, 56, 0.461);
    cursor: pointer;
}